// Ignore this class.  It just adds a border so that you can find your element.

:host {
 
}

 @import url(//fonts.googleapis.com/css?family=Montserrat);
@import url(//fonts.googleapis.com/css?family=Sanchez);





.dateTimeCard{
 position: relative;
width: 217px;
height: 86px;

background: #F6FDFA;
padding: 3px 14px 13px 8px;
}

// write your code here!!
.time{position: absolute;
left: 33.68%;
right: 12.63%;
top: 0%;
bottom: 32%;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 59px;
text-align: right;

color: #2DBDB1;
}
.date{
position: absolute;
left: 0%;
right: 0%;
top: 68%;
bottom: 0%;

font-family: Sanchez;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
text-align: right;
padding-bottom: 25px;

color: #4B5853;
}
.am{


/* September 27th, 2018 */


left: 0%;
right: 0%;
top: 68%;
bottom: 0%;

font-family: Sanchez;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
text-align: right;

color: #4B5853;

}